@media (max-width: 510px) {
    .music--winner {
        padding-bottom: 30px;
        color: rgb(158, 158, 158);
        display: block;
        justify-content: center;
        align-items: baseline;
    }
    .lyrics--container {
        width: 300px;
        text-align: center;
        align-items: baseline;
        background-color: #1c1a1a;
        padding: 10px;
        padding-top: 1px;
        border-radius: 10px;
        margin-top: 10px;
        margin-left: 17%;
    }

}
@media (min-width: 510px) {
    .music--winner {
        padding-bottom: 30px;
        color: rgb(158, 158, 158);
        display: flex;
        justify-content: center;
        align-items: baseline;
    }
    .lyrics--container {
        width: 300px;
        text-align: center;
        align-items: baseline;
        background-color: #1c1a1a;
        padding: 10px;
        padding-top: 0px;
        border-radius: 10px;
        margin-top: 10px;
        margin-left: 50px;
    }
}
@media (max-width: 750px) {
    .song--one--display {
        border-style: none;
        border-radius: 15px;
        height: 250px;
        width: 225px;
    }
    .lyric--text {
        font-size: x-small;
        align-items: baseline;
    }
    .lyrics--container{
        max-height: 310px;
        box-shadow: inset 0px -5px 5px rgb(20, 20, 20);
        overflow-y: clip;
    }
    .music {
        padding-top: 30px;
        padding-bottom: 32px;
    }
}
@media (min-width: 750px) {
    .song--one--display {
        border-style: none;
        border-radius: 15px;
        height: 330px;
        width: 330px;
    }
    .lyric--text {
        font-size: small;
        align-items: baseline;
    }
}
@media (max-width: 1110px) {
    .app--container{
        margin-left: 0px;
        margin-right: 0px;
    }
}


body {
    margin: 0;
    padding-bottom: 0px;
    background-color: #1c1a1a;
}

.music {
    display: flex;
    justify-content: center;
    align-items: center;
}

.themesong--bg {
    background-color: #1c1a1a;
}

.themesong--title {
    color: #ffffff;
    background-color: #1c1a1a;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
}
.themesong--title:hover {
    color: rgb(89, 191, 89)
}

.app--container {
    background-color: #191414;
    font-family: 'Inter', sans-serif;
    margin-left: 0px;
    margin-right: 0px;
}

.app--container--results {
    background-color: #191414;
    font-family: 'Inter', sans-serif;
    padding-top: 15px;
}

.embeds--frame {
    display: flex;
    justify-content: center;
    align-items: center;
}

.song--title {
    color: rgb(158, 158, 158);
    font-size: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.song--one--display {
    border-style: none;
    border-radius: 15px;
}

.vs {
    margin: 30px;
    color: rgb(158, 158, 158);
}

.voting--panel {
    background-color: #1c1a1a;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.vote--title {
    color: rgb(158, 158, 158);
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.voting--btns {
    display: flex;
    justify-content: center;
}

.voting--btns > button:hover {
    color: rgb(61, 224, 61);
    background-color: rgb(42, 42, 42);
    cursor: pointer;
}

.vote--one {
    color: #ffffff;
    background-color: #383535;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-style: none;
}

.vote--two {
    color: #ffffff;
    background-color: #383535;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 1px;
}
.winner--reveal {
    color: rgb(158, 158, 158);
    display: flex;
    justify-content: center;
}
/*.music--winner {
    padding-bottom: 30px;
    color: rgb(158, 158, 158);
    display: flex;
    justify-content: center;
    align-items: baseline;
}*/
.back--btn--container {
    display: flex;
    justify-content: center;
}
.back--btn {
    color: #ffffff;
    background-color: #383535;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    border-style: none;
}
.back--btn:hover {
    color: rgb(61, 224, 61);
    background-color: rgb(42, 42, 42);
    cursor: pointer;
}
.musix--lyrics {
    color: rgb(158, 158, 158);
}
/*.lyrics--container {
    width: 300px;
    text-align: center;
    align-items: baseline;
    margin-left: 50px;
    background-color: #1c1a1a;
    padding: 10px;
    padding-top: 0px;
    border-radius: 10px;
    margin-top: 10px;
}*/

